<footer>
	<p>
		© 2022 - Developed by
		<a rel="noreferrer" href="https://mazin-islam-portfolio.netlify.app/" target="_blank">Mazin Islam</a>
	</p>
	<a href="https://mazin-islam-portfolio.netlify.app/" target="_blank">Contact Me</a>
</footer>
