<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="https://kit.fontawesome.com/a4f9369c2e.js" crossorigin="anonymous"></script>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Gulzar&family=Tajawal:wght@400;500&display=swap" rel="stylesheet" />
		<!-- CSS only -->
		<link
			href="/bootstrap.min.css"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="/style.css" />
		<link
			rel="shortcut icon"
			href="/images\hd-quran-book-black-icon-transparent-background-116370457481jmbswlvix-removebg-preview.png"
			type="image/x-icon"
		/>
		<title>ايات قرآن</title>
	</head>
	<body>
		<%- body %></div>
		<!-- JavaScript Bundle with Popper -->
		<script
			src="/bootstrap.min.js"
		></script>
	</body>
</html>
